- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'annonymous'

- content_for :page_title do
  = t 'admin.media_remove.title'

  - content_for :heading_actions do
    = button_tag t('generic.save_changes'), class: 'button', form: 'edit_media_remove'

= simple_form_for @media_remove, url: admin_media_remove_path, html: { method: :patch, id: 'edit_media_remove' } do |f|
  = render 'shared/error_messages', object: @media_remove

  .fields-group
    = f.input :enabled, as: :boolean, wrapper: :with_label, label: t('admin.media_remove.enabled.title'), hint: t('admin.media_remove.enabled.desc_html')

  .fields-group
    = f.input :days, as: :integer, wrapper: :with_label, label: t('admin.media_remove.days.title'), hint: t('admin.media_remove.days.desc_html')

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
